body{
    background-image: url(https://i.ytimg.com/vi/obJOMFWOUFk/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-DoACuAiKAgwIABABGFIgZShhMA8=&rs=AOn4CLAAtjrLJ_DKGHsVDbHwB-GPgS3UNQ);
    background-position: 90% ; /*esto determina que tan a la izquierda comenzará*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: aqua;
    font-size: 60px;
    font-family: 'Meddon', cursive;
    text-align: center;
}
img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 60px;
    width: 70%;
}
h2{
    font-family: 'Meddon', cursive;
    font-family: 'Sancreek', serif;
    font-size: 50px;
    color: #EBEB13 ;
    text-align: center;
}
h3{
    font-family: 'Meddon', cursive;
    font-family: 'Noto Sans SC', sans-serif;
    font-family: 'Sancreek', serif;
    color: #0A1FEF ;
    font-size: 30px;
    text-align: center;
}
p{
    color: azure;
}